*{
    margin: 0;
    font-family: sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: #c1b5b5;
    border: solid 2px #ccc;
    padding: 10px;
}

.container > h1{
    background-color: rgb(99, 183, 216);
    padding: 20px 10px;
    text-align: center;
    color: darkblue;
}

.container > img{
    width: 200px;
    height: 200px;
    margin: 20px 15px 10px 0px;
    background-color: rgb(220, 172, 172);
    padding: 10px;
    float: left;
}

.container > text{
    color: rgb(87, 86, 86);
    margin: 20px 10px;
    text-align: justify;
    
}

.clear{
    clear: left;
}
