<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Images From Backend</h1> 
            <!-- form javsscript code here we used like below -->
            <%x.forEach((y) => {%>
                <div class="col-lg-4">
                    <img src="./images/<%=y.Picture%>" alt="">
                </div>
            <%})%>
        </div>
    </div>
</body>
</html>