*{
    background-color: rgb(188, 236, 255);
}
.container{
    width: 600px;
    height: 600px;
    background-color: darkblue;
}

/* transion property use in this example */
/* .child{
    width: 100px;
    height: 100px;
    background-color: red;
    /* transition: transform 2s ease-in; */
    /* transition: all 2s ease-in;
    
}
.container:hover > .child{
    background-color: yellow;
    transform: translateX(100%) translateY(100%);
    

} */

.child{
    width: 100px;
    height: 100px;
    background-color: red;
    animation: round 2s ease-in forwards infinite alternate;
    
    
}
.container:hover > .child{

    animation-play-state: paused;
    /* animation: round 2s ease-in forwards infinite alternate; */
    /* animation-direction: alternate; */

    

}

@keyframes round{
    /* states in the animation  */
    /* initial, rperiod, mid post mid end */
    0%{
        transform:translateX(0%);
    }
    33%{
        transform:translateY(500%);
    }

    75%{
        transform:translateX(500%) translateY(500%);
    }

    100%{
        transform:translateX(500%);
    }
    
}