/* implementing a grid */
.container{
    display: grid;
    /* grid-template-columns: 150px 300px 450px; */
    /* grid-template-columns: 100px 200px; */
    /* grid-template-columns: 1fr 2fr 3fr; */
    grid-template-columns: repeat(2, 200px);

    /* grid-template-rows: 200px 400px; */
    /* grid-template-rows: auto; */
    /* grid-auto-rows: 200px; */
    grid-gap: 20px; 
    /* grid-row-gap: 20px; */
    /* grid-column-gap: 20px; */
    /* grid-gap: 20px; */
    /* grid-template-areas: "header header"
    "sidebar content"; */
    /* grid-auto-rows: 150px; */
    grid-auto-rows: minmax(150px, auto);
    /* justify-content: start; */
    /* justify-content: end; */
    /* justify-content: space-evenly; */
    justify-content: start;
    /* align-items: ; */
    

}

.grid-item-1{
    /* grid-area: header;
 */
    grid-row-start: 1;
    /* grid-column-end: 3; */
}
.grid-item-2{
    /* grid-area: sidebar; */
    /* grid-row-start: 2;
    grid-row-end: 4; */
}

.grid-item-3{
    /* grid-area: content; */
    grid-row: 2/4;
}